@model IEnumerable<FrenchTownStudiosV2.DATA.EF.Location>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />

<div class="container pushItDownStyle">

    <h2>Index</h2>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ReservationLimit)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationLimit)
                </td>
                <td>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Employee") || User.IsInRole("Client"))
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.LocationId }) @:|
                        if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) @:|
                            @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
                        }
                    }
                </td>
            </tr>
        }

    </table>

</div>