@model IEnumerable<FrenchTownStudiosV2.DATA.EF.Reservation>

@{
    ViewBag.Title = "ReservationTable";
}

<br />
<br />
<br />

<div class="container pushItDownStyle">

    <h2>Reservation Table Admin Index</h2>
    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Client"))
    {
    <p>
        @Html.ActionLink("Create New", "Create", "Reservations")
    </p>
    }
    <table class="table" id="data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReservationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientAsset.AssetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.LocationName)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody style="color: #3b4e66;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.ReservationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientAsset.AssetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.LocationName)
                    </td>
                    <td>
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit", "Edit", "Reservations", new { id = item.ReservationId },null) @:|
                                @Html.ActionLink("Delete", "Delete", "Reservations", new { id = item.ReservationId },null)
                            }
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable({
                responsive: true
            });
        });
    </script>
}