@model FrenchTownStudiosV2.DATA.EF.Reservation

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />

<div class="container pushItDownStyle">

    <h2>Details</h2>

    <div>
        <h4>Reservation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReservationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClientAsset.AssetName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClientAsset.AssetName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.LocationName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>